// Sass Variables
$body-html-px: 10px;

/* space for project bar */
$space: 90px;

/* exemple - .overlay {
  z-index: z(overlay);
}
 */

$z-layers: (
  // bottomless-pit: -9999,
  // default: 1,
  sliderPagination: 80,
  sliderScrollBar: 71,
  sliderScrollBar-drag: 71,
  header: 15,
  burgerIcon: 16
);

$globalColor: #e5e5e5;
