.fixedArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55px;
  text-align: center;
  margin-top: 30px;
  &__arrow {
    font-size: 10px;
    color: #000000;
    &::before {
      height: 50px;
      display: block;
      content: "";
      transform: rotate(270deg);
      @include backgroundImage("/iconsSprite/longArrow-icon.svg", 80%);
      margin-bottom: 5px;
    }
  }
}
